@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/public/assets/icons/bg-pattern-top.svg'),
    url('/public/assets/icons/bg-pattern-bottom.svg');
/*   background-position: left top, right bottom -13rem;
  background-size: 68%;
  background-repeat: no-repeat;
  background-color: hsl(185, 75%, 39%); */
  
  background-color: hsl(185, 75%, 39%);
  background-repeat: no-repeat, no-repeat;
background-position: right 52vw bottom 35vh, left 48vw top 52vh;
}
